<section style="text-align: center; padding: 2.5px;">
  <h4 style="font-size: 2.5rem; font-weight: bold;">Oops! "It looks like the internet swallowed the page you are looking for.</h4>
  <p> "Don’t worry, our homepage is open for business!".</p>
  <a href="/" style="display: inline-block; padding: 5px 10px; margin-top: 20px; background-color: #000; color: #fff; text-decoration: none; border-radius: 5px;">
    Go Home
  </a>
</section>
