<div class="not-found">
  <div class="prose text-center">
    <h2 class="h4">Oops! This page doesn’t exist.</h2>
    <p>Looks like you've taken a wrong turn. Let's get you back on track!</p>

    {%- capture button_content -%}
      {{ '404.general.continue_shopping' | t }}
    {%- endcapture -%}
    
    {%- render 'button', content: button_content, href: routes.all_products_collection_url, size: 'xl' -%}
  </div>
</div>

{% schema %}
{
  "name": "404",
  "class": "shopify-section--404",
  "tag": "section"
}
{% endschema %}
