<div class="not-found">
  <div class="prose text-center">
    <h4>Error 404 Page Not Found</h4>
    <h4>Did you mistype it?</h4>
    <p>Don’t worry, our homepage is open for business!</p>

    <a href="/" class="button button--xl">
      Go to Homepage
    </a>
  </div>
</div>

{% schema %}
{
  "name": "404",
  "class": "shopify-section--404",
  "tag": "section"
}
{% endschema %}
